In [83]:
import numpy as np
import pandas as pd
phy_marks=pd.read_csv("PhysicsScoreTerm1.csv")
phy_marks.drop(['Name'],axis=1,inplace=True)
phy_marks['Ethinicity']=np.where(phy_marks['Ethinicity'] == "White American",1,phy_marks['Ethinicity'])
phy_marks['Ethinicity']=np.where(phy_marks['Ethinicity'] == "European American",2,phy_marks['Ethinicity'])
phy_marks['Ethinicity']=np.where(phy_marks['Ethinicity'] == "African American",3,phy_marks['Ethinicity'])
phy_marks['Ethinicity']=np.where(phy_marks['Ethinicity'] == "Hispanic",4,phy_marks['Ethinicity'])
phy_marks['Sex']=np.where(phy_marks['Sex'] == "M",1,phy_marks['Sex'])
phy_marks['Sex']=np.where(phy_marks['Sex'] == "F",2,phy_marks['Sex'])
math_marks=pd.read_csv("MathScoreTerm1.csv")
ds_marks=pd.read_csv("DSScoreTerm1.csv")
phy_marks['PhyScore']=phy_marks['Score']
phy_marks['MathScore']=math_marks['Score']
phy_marks['DsScore']=ds_marks['Score']
phy_marks.drop(['Score'],axis=1,inplace=True)
phy_marks['PhyScore'].fillna(69,inplace=True)
phy_marks['MathScore'].fillna(73,inplace=True)
phy_marks['DsScore'].fillna(67,inplace=True)
phy_marks.to_csv('ScoreFinalOwn.csv')
phy_marks.head()

   Age Ethinicity  Subject Sex  ID  PhyScore  MathScore  DsScore
0   18          1  Physics   1   1      84.0       88.0     82.0
1   19          2  Physics   1   2      81.0       85.0     79.0
2   19          2  Physics   1   3      41.0       45.0     39.0
3   18          1  Physics   1   4      78.0       82.0     76.0
4   18          1  Physics   2   5      78.0       82.0     76.0